.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shoow{
  background-color: inherit;
}
.bactive {
  background-color: whitesmoke;
  transition: all 0.6s ease-in-out;
}
.dropdown-item:hover {
  background-color: navajowhite;
  transform: scale(1.1);
}
.item {
  margin: 0 1.5vw;
  aspect-ratio: 2/1;
}

.healthtips {
  display: inline-block; /* Display inline block */
  position: relative; /* Set position relative */
}
.healthtips::after {
  content: ""; /* Add content after the element */
  position: absolute; /* Position absolute for pseudo-element */
  width: 100%; /* Full width */
  transform: scaleX(0); /* Initial scale of 0 for underline effect */
  height: 1px; /* Height of the underline */
  bottom: 0; /* Align to bottom */
  left: 0; /* Align to left */
  background-color: #000000; /* Background color of the underline */
  transform-origin: bottom right; /* Set transform origin */
  transition: transform 0.2s ease-out;
}
.healthtips:hover::after {
  transform: scaleX(1); /* Scale the underline on hover */
  transform-origin: bottom left; /* Set transform origin */
}
.dropdown-menu {
  background-color: ghostwhite;
  border: none;
  opacity: 0.9;
}
body {
  background-color: white;
  width: 100vw;
}
.d-block {
  width: 34vw;
  height: 40vw;
  object-fit: cover;
  border-radius: 5px;
}
@media only screen and (max-width: 650px) {
  .t-content{
    font-size: 15px;
  }
  .card-body{
    font-size: 12px;
    padding: 07px;

  }
  .heading{
    font-size: 1em;
  }
  .headline{
    font-size: 1.2em;
  }
#horizontal {
  background: linear-gradient(90deg, rgba(239,80,83,1) 0%, rgba(227,203,170,1) 60%);
}
}
@media only screen and (min-width: 651px){
  .card-body{
    font-size: 20px;
    padding: 20px;
  }
  .heading{
    font-size:2.3em ;
  }
  .t-content{
    font-size: 1em;
  }
.headline{
    font-size: 3.3vw;
  }
#horizontal {
  
  background: linear-gradient(90deg, rgba(239,80,83,1) 0%, rgba(240,101,98,1) 100%);
}
}
.alink{
  text-decoration: none;
  color:inherit;
}
.alink:hover {
 
  text-decoration: underline grey;
 
}
.checked{
  color:#007c28;
}
.fn-1{
  font-family: "SUSE", 'sans-serif';
}
.fn-2{
  font-family: "Maven Pro",' sans-serif';
}
.fn-3{
  font-family: 'Playpen Sans', 'cursive',
}
.fn-4{
  font-family: "Playfair Display", "serif";
}
.fn-5{
  font-family: "Roboto", sans-serif;
}
.fn-6{
  font-family: "Whisper", 'cursive';
}
.card{
  transition: transform .2s;
}
.card:hover{
  transform: scale(1.03);
}
.blog-text{
  text-align: justify;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}